@use '../../css/config' as *;
@use "sass:map";

.cast-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    padding: 0 15px;

    @each $bp, $width in $container-width {
        @include media-query($bp) {
            padding-left: calc(50% - 0.5*#{$width}px + 15px);
        }
    }

    li {
        position: relative;
        flex-shrink: 0;
        width: 200px;
        height: 300px;

        margin-right: 16px;



        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(rgba(#000, 0.2), rgba(#000, 0.6) 100%);
        }
    }

    &__body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
