@use '../../css/config' as *;

.hamburger {
    position: absolute;
    top: 6px;
    right: 8px;
    padding: 6px;

    svg {
        width: 32px;
        height: 32px;
        fill: rgba(#fff, 0.8)
    }

    @include media-query(md) {
        display: none;
    }
}
