.header {
    position: relative;
    height: 40vh;
    background-position: top;
    background-size: cover;

    &__container {
        height: 100%;
    }

    &__title {
        position: absolute;
        bottom: 40px;
        font-size: 48px;
        opacity: 0.7;
    }
}
