@use '../../css/config' as *;

.rating-circle {
    width: 48px;
    height: 48px;

    position: absolute;
    top: 12px;
    right: 12px;

    &__text {
        fill: #fff;
        font-size: 10px;
        font-weight: 500;
    }

    &__percentage {
        fill: rgba(#000, 0.5);
        animation: progress 500ms ease-out forwards 150ms;
    }

    &--green {
        stroke: rgba($color-success, 0.7);
    }

    &--orange {
        stroke: rgba($color-warning, 0.7);
    }

    &--red {
        stroke: rgba($color-error, 0.7);
    }

}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
