@use 'config' as *;
@import "~normalize.css/normalize.css";

html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  color: $color-white;
  background-color: $color-primary;
  overflow-x: hidden;
  font-family: 'Avenir Next',Arial,sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 32px 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer {
  margin-top: auto;
}

p.intro {
  font-size: clamp(18px, 1.5vw, 22px);
  line-height: 1.2;
  letter-spacing: 0.2px;
}
